body, h1, p, ol {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-size: 2rem;
    font-family: 'Fredericka the Great', cursive;
    background: linear-gradient(to right, darkorange, gold);
    position: relative;
}

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

header {
    @include colourStyle;

    h1 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 20px;
        padding: 15px 0;
    }
}

.text {
    @include textStyle;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 120px);
    justify-content: center;
    align-content: center;
    gap: 40px;
    margin: 40px auto;

    .tile.black {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .gold {
        background-color: gold;
    }

    .magenta {
        background-color: magenta;
    }

    .deeppink {
        background-color: deeppink;
    }

    .darkorange {
        background-color: darkorange;
    }

    .crimson {
        background-color: crimson;
    }

    .darkgreen {
        background-color: darkgreen;
    }

    .darkturquoise {
        background-color: darkturquoise;
    }

    .cornflowerblue {
        background-color: cornflowerblue;
    }
}

.congrats {
    @include textStyle;
    top: 50%;

    span {
        text-transform: uppercase;
    }

    button {
        border: none;
        cursor: pointer;
        padding: 5px 10px;
        @include colourStyle;

        &:hover, &:focus {
            background-color: gold;
            color: crimson;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    @include colourStyle;

    p {
        text-align: center;
        letter-spacing: 2px;
    }
}