// check
body, h1, h2, p, ol {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: 'Fredericka the Great', cursive;
    background: linear-gradient(to right, darkorange, gold);
}

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

header {
    height: 10vh;
    background-color: crimson;
    // use variable
    color: gold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    letter-spacing: 20px;
}

.text {
    letter-spacing: 3px;
    position: absolute;
    top: 25%;
    left: 5%;
    width: 20%;
    // border: 1px solid green;

    p {
        width: 55%;
        border-bottom: 2px solid black;
    }

    li {
        list-style-position: inside;
        list-style-type: square;
        margin: 10px 0;
    }
}

.tiles {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 120px);
    justify-content: center;
    // align-content: center;
    gap: 40px;
    margin: 40px auto;

    span {
        // border: 1px solid white;
        // background-color: black;
    }

    .tile.black {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .gold {
        background-color: gold;
    }

    .magenta {
        background-color: magenta;
    }

    .deeppink {
        background-color: deeppink;
    }

    .darkorange {
        background-color: darkorange;
    }

    .crimson {
        background-color: crimson;
    }

    .darkgreen {
        background-color: darkgreen;
    }

    .darkturquoise {
        background-color: darkturquoise;
    }

    .cornflowerblue {
        background-color: cornflowerblue;
    }
}

footer {
    background-color: crimson;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;

    p {
        text-align: center;
        // use variable
        color: gold;
        letter-spacing: 2px;
    }
}