// check
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

header {
    height: 10vh;
    background-color: black;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 120px);
    justify-content: center;
    // align-content: center;
    gap: 40px;

    span {
        border: 1px solid black;
        // background-color: black;
    }

    .tile.black {
        background-color: black;
    }

    .gold {
        background-color: gold;
    }

    .magenta {
        background-color: magenta;
    }

    .deeppink {
        background-color: deeppink;
    }

    .darkorange {
        background-color: darkorange;
    }

    .crimson {
        background-color: crimson;
    }

    .darkgreen {
        background-color: darkgreen;
    }

    .darkturquoise {
        background-color: darkturquoise;
    }

    .cornflowerblue {
        background-color: cornflowerblue;
    }
}