@media (max-width: 1250px) {
    .text {
        @include mediaStyle;
        margin-bottom: 40px;
    }

    .congrats {
        @include mediaStyle;

        p {
            margin-top: 40px;
        }

        ol {
            text-align: center;
        }

        button {
            display: block;
            margin: 0 auto;
        }
    }
}

@media (max-width: 700px) {
    .text {
        width: 90%;
    }

    .tiles {
        grid-template-columns: repeat(2, 120px);
        grid-template-rows: repeat(8, 120px);
    }

    footer {
        span {
            display: block;
        }
    }
}

// CONTINUOUS MODE
@media (max-width: 320px) {
    .tiles {
        gap: 0;
    }

    .text, .congrats {
        display: none;
    }
}