@media (max-width: 1250px) {
    .text {
        border: 0.5px dotted black;
        margin-top: 40px;
        @include mediaStyle;

        ol {
            padding-left: 30px;
        }
    }

    .congrats {
        // border: 0.5px dotted black;
        margin-bottom: 40px;
        @include mediaStyle;

        ol {
            text-align: center;
        }

        button {
            display: block;
            margin: 0 auto;
        }
    }

    footer {
        position: static;
    }
}

@media (max-height: 800px) {
    footer {
        position: static;
    }
}

@media (max-width: 700px) {
    .tiles {
        grid-template-columns: repeat(2, 120px);
        grid-template-rows: repeat(8, 120px);
    }
}

// CONTINUOUS MODE
@media (max-width: 320px) {
    .tiles {
        gap: 0;
    }

    .text, .congrats {
        display: none;
    }
}