@mixin colourStyle {
    background-color: crimson;
    color: gold;
}

@mixin textStyle {
    letter-spacing: 3px;
    position: absolute;
    top: 25%;
    left: 5%;
    width: 20%;
    // border: 1px solid green;

    p {
        text-decoration: underline;
    }

    li {
        list-style-position: inside;
        list-style-type: square;
        margin: 10px 0;
    }
}

@mixin mediaStyle {
    position: static;
    width: 60%;

    p {
        text-align: center;
    }
}