$blackColour: rgba(0, 0, 0, 0.7);

@mixin colourStyle {
    background-color: crimson;
    color: gold;
}

@mixin textStyle {
    letter-spacing: 0.3rem;
    position: absolute;
    top: 25%;
    left: 5%;
    width: 20%;

    p {
        text-decoration: underline;
    }

    li {
        list-style-position: inside;
        list-style-type: square;
        margin: 10px 0;
    }
}

@mixin mediaStyle {
    position: static;
    width: 60%;

    p {
        text-align: center;
    }
}