html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article, aside, footer, header, nav, section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption, figure, main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
}

b, strong {
    font-weight: inherit;
}

b, strong {
    font-weight: bolder;
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details, menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, h1, p, ol {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 40px;
    min-height: 100vh;
    font-size: 2rem;
    font-family: "Fredericka the Great", cursive;
    background: linear-gradient(to right, darkorange, gold);
}

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: crimson;
    color: gold;
}
header h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2rem;
    padding: 10px 0;
}

.text {
    letter-spacing: 0.3rem;
    position: absolute;
    top: 25%;
    left: 5%;
    width: 20%;
}
.text p {
    text-decoration: underline;
}
.text li {
    list-style-position: inside;
    list-style-type: square;
    margin: 10px 0;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 120px);
    justify-content: center;
    align-content: center;
    gap: 40px;
}
.tiles .tile:focus {
    outline: none;
}
.tiles .tile:focus-visible {
    outline: 5px solid rgba(0, 0, 0, 0.7);
}
.tiles .tile.black {
    background-color: rgba(0, 0, 0, 0.7);
}
.tiles .gold {
    background-color: gold;
}
.tiles .magenta {
    background-color: magenta;
}
.tiles .deeppink {
    background-color: deeppink;
}
.tiles .darkorange {
    background-color: darkorange;
}
.tiles .crimson {
    background-color: crimson;
}
.tiles .darkgreen {
    background-color: darkgreen;
}
.tiles .darkturquoise {
    background-color: darkturquoise;
}
.tiles .cornflowerblue {
    background-color: cornflowerblue;
}

.congrats {
    letter-spacing: 0.3rem;
    position: absolute;
    top: 25%;
    left: 5%;
    width: 20%;
    top: 50%;
}
.congrats p {
    text-decoration: underline;
}
.congrats li {
    list-style-position: inside;
    list-style-type: square;
    margin: 10px 0;
}
.congrats span {
    text-transform: uppercase;
}
.congrats button {
    background-color: crimson;
    color: gold;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}
.congrats button:hover, .congrats button:focus {
    background-color: gold;
    color: crimson;
    outline: 2px solid crimson;
}

footer {
    background-color: crimson;
    color: gold;
    padding: 10px 0;
}
footer p {
    text-align: center;
    letter-spacing: 0.2rem;
}

/* ----------------------------------------------
* Generated by Animista on 2020-7-25 18:20:5
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/* ----------------------------------------
* animation flicker-1
* ---------------------------------------- */
.flicker-1 {
    -webkit-animation: flicker-1 2s linear infinite both;
            animation: flicker-1 2s linear infinite both;
}

.flicker-text {
    -webkit-animation: flicker-1 5s linear infinite both;
            animation: flicker-1 5s linear infinite both;
}

@-webkit-keyframes flicker-1 {
    0%, 100% {
        opacity: 1;
    }
    41.99% {
        opacity: 1;
    }
    42% {
        opacity: 0;
    }
    43% {
        opacity: 0;
    }
    43.01% {
        opacity: 1;
    }
    47.99% {
        opacity: 1;
    }
    48% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    49.01% {
        opacity: 1;
    }
}

@keyframes flicker-1 {
    0%, 100% {
        opacity: 1;
    }
    41.99% {
        opacity: 1;
    }
    42% {
        opacity: 0;
    }
    43% {
        opacity: 0;
    }
    43.01% {
        opacity: 1;
    }
    47.99% {
        opacity: 1;
    }
    48% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    49.01% {
        opacity: 1;
    }
}
/* ----------------------------------------
* animation flicker-4
* ---------------------------------------- */
.flicker-4 {
    -webkit-animation: flicker-4 4s linear infinite both;
            animation: flicker-4 4s linear infinite both;
}

@-webkit-keyframes flicker-4 {
    0%, 100% {
        opacity: 1;
    }
    31.98% {
        opacity: 1;
    }
    32% {
        opacity: 0;
    }
    32.8% {
        opacity: 0;
    }
    32.82% {
        opacity: 1;
    }
    34.98% {
        opacity: 1;
    }
    35% {
        opacity: 0;
    }
    35.7% {
        opacity: 0;
    }
    35.72% {
        opacity: 1;
    }
    36.98% {
        opacity: 1;
    }
    37% {
        opacity: 0;
    }
    37.6% {
        opacity: 0;
    }
    37.62% {
        opacity: 1;
    }
    67.98% {
        opacity: 1;
    }
    68% {
        opacity: 0;
    }
    68.4% {
        opacity: 0;
    }
    68.42% {
        opacity: 1;
    }
    95.98% {
        opacity: 1;
    }
    96% {
        opacity: 0;
    }
    96.7% {
        opacity: 0;
    }
    96.72% {
        opacity: 1;
    }
    98.98% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    99.6% {
        opacity: 0;
    }
    99.62% {
        opacity: 1;
    }
}

@keyframes flicker-4 {
    0%, 100% {
        opacity: 1;
    }
    31.98% {
        opacity: 1;
    }
    32% {
        opacity: 0;
    }
    32.8% {
        opacity: 0;
    }
    32.82% {
        opacity: 1;
    }
    34.98% {
        opacity: 1;
    }
    35% {
        opacity: 0;
    }
    35.7% {
        opacity: 0;
    }
    35.72% {
        opacity: 1;
    }
    36.98% {
        opacity: 1;
    }
    37% {
        opacity: 0;
    }
    37.6% {
        opacity: 0;
    }
    37.62% {
        opacity: 1;
    }
    67.98% {
        opacity: 1;
    }
    68% {
        opacity: 0;
    }
    68.4% {
        opacity: 0;
    }
    68.42% {
        opacity: 1;
    }
    95.98% {
        opacity: 1;
    }
    96% {
        opacity: 0;
    }
    96.7% {
        opacity: 0;
    }
    96.72% {
        opacity: 1;
    }
    98.98% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    99.6% {
        opacity: 0;
    }
    99.62% {
        opacity: 1;
    }
}
/* ----------------------------------------
* animation vibrate-1
* ---------------------------------------- */
.vibrate-1 {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
            animation: vibrate-1 0.3s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}
@media (max-width: 1250px) {
    .text {
        position: static;
        width: 60%;
        margin-bottom: 40px;
    }
    .text p {
        text-align: center;
    }

    .congrats {
        position: static;
        width: 60%;
    }
    .congrats p {
        text-align: center;
    }
    .congrats p {
        margin-top: 40px;
    }
    .congrats ol {
        text-align: center;
    }
    .congrats button {
        display: block;
        margin: 0 auto;
    }
}
@media (max-width: 700px) {
    .text {
        width: 90%;
    }

    .tiles {
        grid-template-columns: repeat(2, 120px);
        grid-template-rows: repeat(8, 120px);
    }

    footer span {
        display: block;
    }
}
@media (max-width: 320px) {
    .tiles {
        gap: 0;
    }

    .text, .congrats {
        display: none;
    }
}